*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --popins:'Poppins';
    --open-sans:'Open Sans';  
    --pink: #ff52bf;
    --light-Pink: #ff8fd8;
    --light-Red: #ff4242;
    --very-Dark-Cyan: #00252e;
    --very-pale-blue: #e7f1fca4;
    --padding-container: 80px 0;
}

body{
    font-family: var(--open-sans);
   
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
   
    
}

.hero{
    min-height: 100vh;
    position: relative;
    --wave-bottom: url("./images/bg-section-top-mobile-1.svg");
    --wave-top: url("/images/bg-section-bottom-mobile-1.svg");
    /* background-color:#e7f1fca4; */
}

.hero__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    --padding-container: 60px 0 45px;
}

.hero__logo{
    width: 45%;
    max-width: 160px;
    
}

.hero__huddle{
    width: 100%;
    display: block;
}

.hero__cta{
    color: var(--light-Pink) ;
    text-decoration: none;
    font-family: var(--popins);
    font-weight: 600;
    border: 1px solid var(--light-Pink);
    border-radius: 25px;
    padding: 5px 20px;
    background-color: var(--very-pale-blue);
    box-shadow: 0 0 5px;
}

.hero__main{
    text-align: center;
    color: var(--very-Dark-Cyan);
}

.hero__title{
    font-family: var(--popins);
}

.hero__paragragh{
    margin: 16px auto;
    width: 90%;
    line-height: 1.5;
    
}

.cta{
    display: inline-block;
    background-color: var(--pink);
    color: var(--very-pale-blue);
    text-decoration: none;
    padding: 10px 50px;
    border: 1px solid;
    border-radius: 25px;
    margin-top: 16px;
    font-weight: 600;
    
}

.hero__pinture{
    margin-top: 80px;
}

.hero__img{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

.hero__numbers{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

}

.hero__number{
    font-size: 60px;
}

.hero__community{
    color: gray;
}



.hero__item{
    overflow: hidden;
    margin-bottom: 30px;
}

.hero__icon{
    display: block;
}

.wave{
    
    position: absolute;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100px;
}

.wave--bottom{
    left: 0;
    bottom: 0;
    background-image: var(--wave-bottom);
}

.wave--top{
    left: 0;
    top: 0;
    background-image: var(--wave-top);
}

.section{
    background-color: var(--very-pale-blue);
    --padding-container: 110px 0;
}

.section--white{
    background-color:white;
    position: relative;
    --padding-container: 210px 0;
    --wave-top:url("./images/bg-section-bottom-mobile-1.svg");
    --wave-bottom:url("./images/bg-section-top-mobile-2.svg");
}

.section__container{
    display: flex;
    flex-direction: column;
}

.section__img{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: block;
}

.section__text{
    margin-top: 50px;
    text-align: center;   

}

.subtitle{
    margin-bottom:16px ;
    font-family: var(--popins);
}

.section__paragragh{
    font-family: var(--open-sans);
    margin: 16px auto;
    width: 90%;
    align-self: 1.5;
}

.section__b{
    background-color: #e7f1fca4;
}

.question{
    text-align: center;
    position: relative;
    --padding-container: 210px 0 300px;
    --wave-top:url("./images/bg-section-bottom-mobile-2.svg");
    --wave-bottom:url("./images/bg-footer-top-mobile.svg");
}


